body {
    width: 16em;
    border: 1px solid grey;
    padding: .5em .5em 0 .5em;
}

button {
    background: transparent;
    margin: .5em 0 .5em 0;
    border: 1px solid grey;
    padding: .5em
}

button:focus {
    outline: grey solid 1px
}

textarea {
    border-color: gray;
    width: 100%;
    height: 11em;
}

textarea:focus {
    outline-color: gray;
}

code {
    color: green;
    padding: 0 .5em 0 .5em;
    background: #00FF0011;
}

#tabs {
    display: flex;
    justify-content: flex-end;
}

select {
    appearance: none
}
